<h1>Product works!</h1>

<hr />

<table class="table table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Close Date</th>
        </tr>
    </thead>
    <tbody id="productsContainer"></tbody>
</table>

<form>
    <input id="name" name="name" type="text" />
    <input id="ean13" name="ean13" type="text" />
    <input id="stock" name="stock" type="number" />
    <input id="expiryDate" name="expiryDate" type="date" />
    <input id="deliveryDate" name="deliveryDate" type="date" />
    <input id="price" name="price" type="text" />
    <button class="btn btn-primary" onclick="saveProduct();">Speichern</button>
</form>

<script type="text/javascript">
    
        fetch('https://localhost:7287/api/Products', {
            method: "GET", 
            mode: 'cors'
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);

            const container = document.getElementById("productsContainer");
            container.innerHTML = '';

            for (let product of data) {
                const tr = document.createElement("tr");
                const htmlTable = `
                <td>${product.name}</td>
                <td>€ ${product.price}</td>`
                tr.innerHTML = htmlTable;
                container.appendChild(tr);
            }
        })
        .catch(err => alert(err.message));

    function saveProduct() {
        let formData = {
            name: document.querySelector('#name').value,
            ean13: document.querySelector('#ean13').value,
            stock: document.querySelector('#stock').value,
            expiryDate: document.querySelector('#expiryDate').value,
            deliveryDate: document.querySelector('#deliveryDate').value
        };
        
        fetch('https://localhost:7287/api/Products', {
            headers: {
                'CONTENT-TYPE': 'application/json',
                'ACCESS-CONTROL-ALLOW-ORIGIN': 'https://localhost:7287'
            },
            method: "POST", 
            mode: 'cors',
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
        })
        .catch(err => alert(err.message));
    }

</script>
